*{
  font-family: "Roboto", "Helvetica", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif !important;
}

.App {
  text-align: center;
}

a {
    text-decoration: none;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.forceTextColorBlack {
  color:rgba(0, 0, 0, 0.87) !important;
  text-decoration: none !important;
}

@media screen and (min-width:768px){
  .heroLayout{
    margin:8px 0 0 0;
  }

  svg.react-calendar-heatmap {
      width: 50%;
  }
}

.commonLayout{
  margin:20px auto !important;
}

#overlayLayout{
  width:100%;
  height:100%;
  position:fixed;
  z-index:999;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255,255,255,.7);
  color:#777;
}

th.MuiTableCell-root.MuiTableCell-head:first-child,
td.MuiTableCell-root.MuiTableCell-body:first-child,
.forceWith th.MuiTableCell-root.MuiTableCell-head {
    padding: 20px 5px !important;
    text-align: center;
    width:35px;
}

th.MuiTableCell-root.MuiTableCell-head.auto,td.auto{
  width:auto !important;
}

.MuiTableBody-root.rival .MuiTableRow-root:not(.rivalBody) th.MuiTableCell-root.MuiTableCell-head:first-child,
.MuiTableBody-root.rival .MuiTableRow-root:not(.rivalBody) td.MuiTableCell-root.MuiTableCell-body:first-child{
    padding: 20px 20px !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl{
  padding:4px;
  width:100%;
}

th.MuiTableCell-root.MuiTableCell-head{
  user-select: none;
}

.MuiTableCell-head,.MuiTableCell-body{
  cursor: pointer;
}

#__light .MuiTableBody-root > tr:hover,#__light .MuiTableBody-root > tr:hover .plusOverlayScore,#__light .MuiTableBody-root > tr:hover .plusOverlayScoreBottom{
  background:#ececec !important;
}

#__dark .MuiTableBody-root > tr:hover,
#__dark .MuiTableBody-root > tr:hover .plusOverlayScore,
#__dark .MuiTableBody-root > tr:hover .plusOverlayScoreBottom{
  background:#313131 !important;
}


a.link{
  text-decoration:none;
  color:#3f51b5;
}

a.link:hover{
  text-decoration: underline;
}

#songsVil span.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorSecondary.MuiIconButton-colorSecondary{
  padding:6px !important;
}

legend.MuiFormLabel-root{
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.MuiDialog-paperFullScreen{
  overflow-x: hidden !important;
}

.be-ellipsis{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.deepSeaDetailedScreen .MuiTab-textColorPrimary.Mui-selected{
  color:#fff !important;
}

#__deepsea .MuiButton-outlined.filterButton{
  color:#fff;
  border:1px solid #737373;
}

.songCell td.isInfiniteBPI:nth-child(2) {
    color: #ff4242;
}

.loaderCentered{
  display:flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  height:30vh !important;
}

.loaderCenteredOnly{
  display:flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  margin:10px 0 !important;
}

@media screen and (min-width:992px){
  .responsiveTotalBPI{
    height:270px !important;
  }
}

@media screen and (max-width:1399px){
  .xsInvisible{ display:none; }
}

.plusOverlayScore{
  font-size:10px;
  color:#ff0000;
  position:absolute;
  z-index:9;
  right:5px;
  top:5px;
  white-space: nowrap;
}

.plusOverlayScoreBottom{
  padding:5px 0;
  font-size:10px;
  color:#909090;
  position:absolute;
  z-index:9;
  right:5px;
  bottom:0;
  white-space: nowrap;
}


.SocialMediaShareButton div{
  margin:0 auto;
}

.darkDetailedScreen .MuiTab-textColorPrimary.Mui-selected{
  color:#a0a0a0;
}

.displayNoneObject {
  display: none!important
}

.MuiDialog-paperScrollPaper:not(.MuiDialog-paperFullScreen):not(.MuiPickersModal-dialogRoot){
  width:calc(100% - 12px) !important;
  margin:0 !important;
}

.MuiTableCell-root:not(.auto){
  padding:5px 5px 5px 7px !important;
  font-size:14px !important;
}

.MuiTableBody-root .MuiTableCell-root:not(:first-child){
  border-left: 1px dotted rgba(224, 224, 224, .3);
}

.rivalBody td.MuiTableCell-root.MuiTableCell-body {
    padding: 0 20px !important;
}

#songsVil .MuiTableCell-root:nth-child(3), #songsVil .MuiTableCell-root:nth-child(4), #songsVil .MuiTableCell-root:nth-child(5),
.detailedDiffs .MuiTableCell-root:nth-child(2),.detailedDiffs .MuiTableCell-root:nth-child(3){
  text-align:center;
}

#__dark span.bodyNumber {
  text-shadow: 1px 1px 2px #000000;
}

#__light span.bodyNumber {
    text-shadow: 0px 0px 0px #ffffff;
}

.MuiTypography-h4{
  font-size:2rem !important;
}

.recharts-surface{
  overflow:visible !important;
}

.addImage{
  max-width:220px;
  display:block;
  margin:8px auto;
  border-radius:7px;
}

@media screen and (max-width:440px){
  .addImage{
    float:inherit;
    margin:10px auto;
    width:70%;
    max-width:70%;
  }

}

.compareGap{
  font-size:11px !important;
}

.custom-tooltip{
  background:rgba(255,255,255,.8);
  padding:6px 12px;
  border:1px solid #ccc;
  color:#000 !important;
}

#__dark .MuiFormLabel-root.Mui-focused {
    color: rgba(255, 255, 255, 0.7) !important;
}

#__light #songsVil .traditionalMode .MuiTableBody-root .MuiTableCell-root:nth-child(3){
  color:#c50000;
}

#__dark #songsVil .traditionalMode .MuiTableBody-root .MuiTableCell-root:nth-child(3){
  color:#ffdbdb;
}

.MuiDialogActions-root .MuiButton-textPrimary{
  color:#a5a5a5 !important;
}

.clearBoth{
  clear:both;
}

#__dark .filterButton{
  color: #6b6b6b !important;
  border-color: #6b6b6b !important;
}

.MuiCheckbox-colorPrimary.Mui-checked{
  color:#949494 !important;
}
th.MuiTableCell-root.MuiTableCell-head:first-child{
  padding:10px 5px !important;
}

.detailModalTableRow th.MuiTableCell-root.MuiTableCell-head:first-child{
  padding:3px 5px !important;
}

.narrowDialogContent{
  padding:6px 5px !important;
}

.narrowDialogTitle{
  text-align:center;
  padding:11px !important;
}

.MuiTableRow-root.rivalBody{
  width:100%;
}

.rivalBody td.MuiTableCell-root.MuiTableCell-body{
  width:33%;
  padding:8px 0 !important;
  text-align: center !important;
  background:transparent;
}

.MuiTableRow-root.rivalBody .MuiTableCell-body:hover{
  background:transparent;
}

.MuiTableHead-root .MuiTableCell-head{
  text-align: center !important;
}

.rivalDetailModalTableBodyDesc{
  width:20% !important;
}

#__dark tr.MuiTableRow-root.rivalBody {
  background: #3a3a3a;
}

#__light tr.MuiTableRow-root.rivalBody {
  background: #fbfbfb;
}

#__dark #users .MuiButton-outlinedPrimary{
  color:#fff;
}

.heroTitle{
  margin:64px auto 10px auto;
}

.indexGridsContainer{
  padding:24px !important;
  max-width: 31% !important;
}

.indexGridsContainer.fullWidth{
  max-width: 100% !important;
}

.userpageIcon{
  width:150px !important;
  height:150px !important;
}

.toppageIcon{
  width:64px !important;
  height:64px !important;
}

@media screen and (max-width:767px){
  .mdCentered{
    text-align:center;
    margin-top:25px;
  }

  .userpageIcon{
    width:100px !important;
    height:100px !important;
  }

  .heroTitle{
    margin:32px auto;
  }

  .indexGridsContainer{
    max-width:100% !important;
    margin:10px 0;
  }

  .heroGridEnd{
    display:block;
  }
}

.sc3Items button{
  width:20% !important;
}

.scrollableSpacebetween .MuiTabs-flexContainer{
  justify-content:space-between;
}

.indexGrids{
  display:flex;
  align-items: center;
  margin-bottom: 7px;
}

.indexGrids .indexGridsIcon, .indexGrids h5{
  font-size:33px;
}

.indexGrids h5{
  margin-left:5px;
  margin-bottom:0;
}

.indexGridsContainer a{
  text-decoration: none !important;
}

.MuiBackdrop-root{
  z-index:9999 !important;
}

.MuiDrawer-root .MuiBackdrop-root, .MuiDialog-root .MuiBackdrop-root:not(.absolutelyTop){
  z-index:-1 !important;
}

div#root > div > .MuiContainer-root{
  padding:0 20px !important;
}

/*
.bottomedActionButtons{
  padding:0 !important;
}

.bottomedActionButtons button{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

*/

.innerContainer{
  padding: 5px 0 !important;
}

.innerContainer .MuiTableCell-root{
  padding:5px 2px 5px 2px !important;
}

.MuiCheckbox-root{
  padding:5px !important;
}

.MuiFormControlLabel-root{
  margin-right:14px !important;
}

.absolutelyTop{
  z-index:99999 !important;
}

.MuiAlert-message{
  width:100%;
}
/*

.MuiContainer-root{
  padding-left: 4px !important;
  padding-right: 4px !important;
}


@media screen and (max-width:360px){
  .commonLayout{
    max-width:95% !important;
  }
}

 */
html,body{
  width:100% !important;
  margin:0;
  padding:0;
}

.grecaptcha-badge { visibility: hidden; }

.songCell {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.swipeableContentTab{
  display: block;
  width:50%;
  height: 4px;
  background: #fff;
  opacity:.5;
}

.swipeableContentTab.active{
  opacity: 1 !important;
}

.MuiPagination-ul{
  justify-content: center;
}

.noBPIAlert{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom:60px;
  z-index: 9999;
  width: 85%;
  border-radius: 8px;
  padding: 15px;
}

.deepSeaDetailedScreen .noBPIAlert,
.darkDetailedScreen .noBPIAlert{
  background: #00000090;
  border: 1px solid #222;
}

.lightDetailedScreen .noBPIAlert{
  background: #ffffff90;
  border: 1px solid #ececec;
}

.topFlexContent{
  display:flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:330px){
  .topFlexContent{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    padding-top:25vh !important;
  }
}

#__deepsea .MuiTableCell-root,#__dark .MuiTableCell-root{
  border-bottom:1px solid rgb(245 245 245 / 8%) !important;
}

#__deepsea .MuiTableBody-root .MuiTableCell-root:not(:first-child) {
    border-left: 1px dotted rgb(0 0 0 / 30%);
}

.userUpdateTitle{
  font-weight: 100;
  color: #fff;
  font-size: 15px !important;
  padding-left: 5px;
}

text.react-calendar-heatmap-month-label,
text.react-calendar-heatmap-weekday-label {
    font-size: 7px !important;
}

#__dark .userUpdateTitle,
#__deepsea .userUpdateTitle{
  border-bottom: 1px solid #222;
}

#__light .userUpdateTitle{
  border-bottom: 1px solid #ddd;
}

.MuiFormLabel-root.Mui-focused{
  color:inherit !important;
}

.MuiOutlinedInput-notchedOutline{
  border-color:inherit !important;
}

.detailedInputForm .MuiInput-underline:hover:not(.Mui-disabled):before,
.detailedInputForm .MuiInput-underline:before{
  border-bottom:0;
}

.lightTheme .react-calendar-heatmap .color-scale-1 { fill: #ffbbbb; }
.lightTheme .react-calendar-heatmap .color-scale-2 { fill: #ff7373; }
.lightTheme .react-calendar-heatmap .color-scale-3 { fill: #ff3838; }
.lightTheme .react-calendar-heatmap .color-scale-4 { fill: #a20000; }

.darkTheme .react-calendar-heatmap .color-empty {fill: #232222;}
.darkTheme .react-calendar-heatmap .color-scale-1 { fill: #653200; }
.darkTheme .react-calendar-heatmap .color-scale-2 { fill: #945519; }
.darkTheme .react-calendar-heatmap .color-scale-3 { fill: #c56c16; }
.darkTheme .react-calendar-heatmap .color-scale-4 { fill: #ffba77; }


.deepSeaTheme .react-calendar-heatmap .color-empty {fill: #03253c;}
.deepSeaTheme .react-calendar-heatmap .color-scale-1 { fill: #004471; }
.deepSeaTheme .react-calendar-heatmap .color-scale-2 { fill: #005a96; }
.deepSeaTheme .react-calendar-heatmap .color-scale-3 { fill: #137dc3; }
.deepSeaTheme .react-calendar-heatmap .color-scale-4 { fill: #6fc6ff; }


.typographTitle {
    text-align: center;
    padding-top: 30px;
    margin-top: 70px !important;
}

.darkTheme .typographTitle,
.deepSeaTheme .typographTitle{
  border-top: 2px solid #fff;
}

.lightTheme .typographTitle{
  border-top: 2px solid #222;
}

.TypographywithIcon{
  display:flex;
  align-items: center;
}

.narrowCards .MuiCardContent-root{
  padding-bottom:0 !important;
}

.topMenuContainer .MuiGrid-item{
  display:flex;
  min-width:90px;
  margin-bottom:10px;
  cursor: pointer;
}

.topMenuContainer .MuiGrid-item svg{
  margin-bottom: 8px;
}

@media screen and (min-width:968px){
  .topMenuContaienrGridWrapper{justify-content: space-between !important}
  .topMenuContainer .MuiGrid-item{
    margin-bottom:0 !important;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

#__light .updateDefAlert{background:#fefefe;}
#__dark .updateDefAlert{background:#181818;}
#__deepsea .updateDefAlert{background:#001625;}
